nav.navbar.fixed-top.navbar-expand-lg.navbar-light.white.scrolling-navbar {
  height: 71px;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  border: 1px solid #999999;
}

.form-group.has-search {
  margin-bottom: unset;
}

.form-group.has-search.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 24px;
}

.form-group.has-search.has-search .form-control::-webkit-input-placeholder, .form-group.has-search.has-search .form-control::-moz-placeholder, .form-group.has-search.has-search .form-control:-ms-input-placeholder, .form-group.has-search.has-search .form-control:-moz-placeholder {
  color: #999999;
  text-align: center;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.fa-search {
  color: gray;
}

.pl-10 {
  padding-left: 10rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.nav-item img {
  width: 20px;
}

.nav-item img.point {
  width: 23px;
}

.nav-item img.user {
  width: 40px;
}

.nav-item img + span {
  margin-left: 4px;
  font-size: 12px;
}

.my-radius {
  background: #f2f2f2;
  border-radius: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.text-name,
.text-name-sub {
  font-size: 17px;
}

.text-name-sub {
  color: #7d7d7d;
}

.text-name-lable {
  font-size: 16px;
  color: #999999;
}

.grid-line {
  display: -ms-grid;
  display: grid;
  margin-top: -70px;
  margin-left: 90px;
}

.text-name-lable.small-text {
  font-size: 12px;
}

.gradient-custom {
  background: #3a7bd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#3a7bd5));
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-comments img {
  width: 4rem;
}
