$breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);

@media (max-width: map-get($breakpoints, xs)) {
	.pc,
	.mobile {
		display: none;
	}
}

@media (min-width: map-get($breakpoints, sm)) {
	.ipad {
		display: none;
	}
}

@media (min-width: map-get($breakpoints, md)) {
	.ipad,
	.mobile {
		display: block;
	}
	.popular {
		display: none;
	}
}
