$black-color: #999999;
$black-color-sub: #7d7d7d;
$text-name: 17px;
$text-name-lable: 16px;
$color-box: #f2f2f2;
$color-blue: #33b5e5;
$dark-color: #000000;

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.white.scrolling-navbar {
  height: 71px;
  border-bottom: 1px solid $black-color;
  box-shadow: none;
}
.form-control {
  border: 1px solid $black-color;
}

//input search
.form-group.has-search {
  margin-bottom: unset;
  & .form-control.post-content {
    border-radius: 16px;
    overflow: hidden;
  }
  & .form-control {
    padding-left: 2.375rem;
    border-radius: 24px;
    text-align: center;
  }
  & .form-control.post-content,
  & .form-control.post {
    padding-left: 3.375rem;
    overflow: hidden;
    display: block;
    text-align: left;
  }
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.fa-search {
  color: gray;
}
.pl-10 {
  padding-left: 10rem !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.nav-item img {
  width: 20px;
  &.point {
    width: 23px;
  }
  &.user {
    width: 40px;
  }
  + span {
    margin-left: 4px;
    font-size: 12px;
  }
}
.my-radius {
  background: $color-box;
  border-radius: 14px;
  box-shadow: none;
  width: 100%;
}
.text-name,
.text-name-sub {
  font-size: $text-name;
}
.text-name-sub {
  color: $black-color-sub;
}
.text-name-lable {
  font-size: $text-name-lable;
  color: $black-color;
}

.grid-line {
  display: grid;
  margin-top: -70px;
  margin-left: 90px;
}

.small-text {
  font-size: 12px;
  color: $dark-color;
}

.width-60 {
  width: 60%;
}

img.p-3.form-control-feedback {
  padding: 3px !important;
}

.modal-header {
  border-bottom: unset;
}
.btn.post {
  border-radius: 24px;
  padding: 6px 25px;
}
.post-contents-detail {
  background-color: #a6def9;
}
.post-contents-detail p {
  font-size: 12px;
  margin-bottom: 0;
  &.sec {
    line-height: 1.5;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  &.fri {
    line-height: 2;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    line-clamp: 1.5;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
.btn-orange-c {
  background-color: #ff6d77 !important;
  color: #fff;
}
.post-contents-comment {
  & img {
    width: 20px;
  }
  & .comment-text img {
    width: 16px;
  }
  & .comment-text .like {
    color: $color-blue;
  }
}
input.comment {
  border-radius: 24px;
}
.comment-text {
  font-size: 14px;
  color: $black-color;
}

#post-sec .card-body {
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}
