.file-preview,
.file-drop-zone,
.file-drop-zone.clickable:hover {
  border: none;
}
.file-drop-zone-title {
  padding: 10px 10px;
}
.krajee-default.file-preview-frame {
  background-color: #fff;
  & .file-footer-caption {
    display: none;
  }
}
.bg-light-c {
  background-color: #e0e0e036 !important;
}
button.close.fileinput-remove {
  display: none;
}
