// Your custom styles
@import "_custom-styles";
@import "_custom-fileinput";

.gradient-custom {
	background: #3a7bd5;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#3a6073),
		to(#3a7bd5)
	);
	background: -webkit-linear-gradient(left, #3a6073, #3a7bd5);
	background: -o-linear-gradient(left, #3a6073, #3a7bd5);
	background: linear-gradient(to right, #3a6073, #3a7bd5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-comments img {
	width: 4rem;
}
.card {
	-webkit-box-shadow: unset;
	box-shadow: unset;
	border: 0;
	font-weight: 400;
	background: #f2f2f2;
	border-radius: 24px;
}

@import "_custom-resposive";
